/* CURRENTLY IN: styles/main.css */

body {
	border: 5px solid #777777;
	
	background-color: #444444;

	margin: 25px;
/*	padding: 35px;

	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 40px;
	padding-right: 40px;

	padding: 50px 40px;*/

	padding: 50px 40px 50px 50px;
}

/* styles for .nav block */

.nav { /* this is a  block */
	padding: 30px 0 30px;
	border-bottom: 2px solid #bbb;
	text-align: center;
	font-family: arial

}

.nav--bottomborder {
	padding-top: 40px;
	border-bottom: none;
	border-top: 2px solid #bbb;
}

.nav__link { /* this is an element of the nav block */
	font-size: 20px;
	font-weight: 600;
	color: #00d59d;
	padding: 0 10px;
	border-right: 1px solid #bbb;
	display: inline-block;
    line-height: 15px;

}

.nav__link--last {
	border-right: none;
}

.nav__link--active {
	color: white;
	text-decoration: none;
	font-weight: 800;
	pointer-events: none;
}

/* styles for .content-bookend */

.content-bookend {
	padding-top: 20px;
}

.content-bookend__title {
	color: white;
	font-size: 36px;
	font-style: italic;
	font-weight: 100;
	text-align: center;
	margin: 0;
}

/* Styles for inside content */


/* span
{
    display:inline;
}
*/

strong
{
	font-weight: bold;
	letter-spacing: 1px;
}

.content--inside__paragraph {
	color: gray;
	font-size: 18px;
	text-align: left;
	margin: 0;
	font-family: times;
	line-height: 150%;
	color: white;

}


.content-document__title {
	color: white;
	font-size: 24px;
	text-align: left;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: arial
}

.content-inside__resume--section {
	color: #bbbbbb;
	font-size: 18px;
	text-align: left;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: arial;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.content--inside__paragraph--title2 {
	color: white;
	font-size: 18px;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: 0;
	font-family: arial;
	font-weight: normal;
	list-style-type: square;

}

.content--inside__paragraph--title {
	color: white;
	font-size: 18px;
	text-align: left;
	padding-left: 20px;
	padding-bottom: 10px;
	margin: 0;
	font-family: arial;
	font-weight: bold;
	list-style-type: square;

}

/*
.content--inside__paragraph {
	color: gray;
	font-size: 18px;
	text-align: left;
	margin: 0;
	font-family: times;
	line-height: 150%;
	color: white;

}

*/

.content--inside__ListDescription {
	color: #bbbbbb;
	font-size: 18px;
	text-align: left;
	margin: 0;
	padding-top: 0px;
	padding-left: 20px;
	padding-bottom: 40px;
	font-family: times;
	font-weight: normal;


}

.content--inside__paragraph2 {
	color: #bbbbbb;
	font-size: 14px;
	text-align: left;
	margin: 0;
	font-family: arial



}



span
{
    display:inline;
    font-weight: normal;
    color: white;
    
}

.span--lastEducation
{
    display:inline;
    font-weight: normal;
    color: white;
    padding-bottom: 40px;
    
}










